[submodule "services/CustomConfigParser"]
	path = src/common/CustomConfigParser
	url = https://github.com/sherlockwisdom/CustomConfigParser.git
[submodule "services/mmcli_python"]
	path = src/common/mmcli_python
	url = https://github.com/sherlockwisdom/mmcli_python.git
