[Unit]
Description=Deku Daemon - Linux based SMS manager
After=network.target NetworkManager.service ModemManager.service mariadb.service mysqld.service httpd.service
Requires=mysqld.service httpd.service 
Wants=ModemManager.service

[Service]
Type=simple
ExecStart=python3 /usr/local/bin/deku/api.py

[Install]
WantedBy=multi-user.target
