[Unit]
Description=RabbitMQ broker
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket

[Service]
# Type=notify
Type=simple
# User=rabbitmq
# Group=rabbitmq
SyslogIdentifier=rabbitmq
EnvironmentFile=/etc/rabbitmq/rabbitmq-env.conf
UMask=0027
# NotifyAccess=all
TimeoutStartSec=3600
# Un-comment this setting if you need to increase RabbitMQ's
# open files limit
# LimitNOFILE=16384
#
# Note:
# You *may* wish to add the following to automatically restart RabbitMQ
# in the event of a failure. systemd service restarts are not a
# replacement for service monitoring. Please see
# https://www.rabbitmq.com/monitoring.html
#
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/lib/rabbitmq/bin/rabbitmq-server
ExecStop=/usr/lib/rabbitmq/bin/rabbitmqctl stop
# ExecStop=/bin/sh -c "while ps -p $MAINPID >/dev/null 2>&1; do sleep 1; done"
# rabbitmq/rabbitmq-server-release#51
# SuccessExitStatus=69

[Install]
WantedBy=multi-user.target
