[Unit]
Description=Deku Daemon - Linux based SMS manager
After=network.target NetworkManager.service ModemManager.service mysql.service
Requires=mysql.service ModemManager.service
Wants=ModemManager.service

[Service]
Type=simple
ExecStart=python3 /usr/local/bin/deku/package/main.py

[Install]
WantedBy=multi-user.target
